<p id="notice"><%= notice %></p>

<h1>Retos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Nombre completo</th>
      <th>Descripcion</th>
      <th>Localidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @retos.each do |reto| %>
      <tr>
        <td><%= reto.titulo %></td>
        <td><%= reto.email %></td>
        <td><%= reto.telefono %></td>
        <td><%= reto.nombre_completo %></td>
        <td><%= reto.descripcion %></td>
        <td><%= reto.localidad.nombre %></td>
        <td><%= link_to 'Show', reto %></td>
        <td><%= link_to 'Edit', edit_reto_path(reto) %></td>
        <td><%= link_to 'Destroy', reto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reto', new_reto_path %>
