<!DOCTYPE html>
<html>
  <head>
    <title>Universidades</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyAFqcuLVrdedv8G2v-vda1WJ7m9C2oFYzE"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
  <div class="container">
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
